* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* PRELOADER */
#preloader {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.status {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  -webkit-animation: fill-white 1s ease forwards 3s;
          animation: fill-white 1s ease forwards 3s;
}

#loader {
  width: 100%;
}

.button-primary, .button-secondary, .button-tag, .button-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 20px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-primary {
  background: #860e0e;
  color: #ffffff;
  border: 1px solid #860e0e;
}

.button-primary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: #ffffff;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.button-secondary {
  color: #2b2d42;
}

.button-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: #2b2d42;
}

.button-tag {
  background: rgba(43, 45, 66, 0.6);
  border-radius: 20px;
  border: 1px solid rgba(43, 45, 66, 0.6);
  color: #ffffff;
  padding: 5px 15px;
  font-size: 0.875rem;
}

.button-white {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #2b2d42;
}

body {
  font-family: "Rubik", "Acumin Pro Wide", Helvetica, sans-serif;
  position: relative;
  background: #e0d1cc;
}

a {
  text-decoration: none;
  color: #860e0e;
}

.header {
  position: relative;
  background-color: #e0d1cc;
  padding: 1px;
}

.header-hero {
  height: 100%;
}

.header-hero .hero-p {
  color: #2b2d42;
  line-height: 24px;
  font-size: 0.875rem;
}

.header-hero .head-fir {
  position: relative;
}

.header-hero .head-fir .icc {
  position: absolute;
  color: #f55555;
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
  left: 20%;
  top: 14%;
}

.header-hero .head-fir .hero-head {
  font-family: "Rye", "cursive";
  color: #860e0e;
  font-size: 1.5rem;
}

.header-hero .head-fir .hero-image {
  margin: 0 auto;
  width: 70%;
  position: relative;
}

.header-hero .head-fir .name-tag {
  background: #860e0e;
  padding: 0.5rem 0rem;
}

.header-hero .head-fir .name-tag .name-title {
  color: #ffffff;
  font-size: 1.1rem;
}

.header-hero .head-fir .date-tag {
  color: #860e0e;
  font-size: 1rem;
}

.header-hero .hero-details {
  background: #ffffff;
  position: relative;
}

.header-hero .hero-details .iccc {
  position: absolute;
  color: #f55555;
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
  left: 74%;
  top: -39%;
}

.navscroll {
  background: #ffffff;
  max-height: 110px;
}

.arrangement {
  color: #860e0e;
}

.arrangement .arr-title {
  font-size: 1.2rem;
}

.arrangement .arr-date,
.arrangement .arr-loc {
  font-size: 1.1rem;
}

.gallery {
  background: #ffffff;
  padding: 1px;
}

.gallery .gallery-title {
  color: #860e0e;
  font-size: 2rem;
  position: relative;
}

.gallery .gallery-title::after {
  content: '';
  position: absolute;
  width: 12%;
  height: 4px;
  background: #860e0e;
  right: 33%;
}

.gallery .gallery-title::before {
  content: '';
  position: absolute;
  width: 12%;
  height: 3px;
  background: #860e0e;
  top: 100%;
  left: 33%;
}

.hearts, .hearts2 {
  width: 5%;
  height: 25%;
  min-width: 100px;
  min-height: 250px;
  position: absolute;
  z-index: 10;
}

.heart, .hearts2 .heart2 {
  position: absolute;
  height: 20%;
  width: 20%;
  min-height: 25px;
  min-width: 25px;
  color: red;
  opacity: 0;
}

.heart {
  -webkit-animation: floating-heart 20s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: floating-heart 20s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes floating-heart {
  0% {
    opacity: 0;
    bottom: 0%;
    left: 0%;
  }
  10% {
    opacity: 1;
    bottom: 40%;
    left: 30%;
  }
  20% {
    bottom: 70%;
    left: 50%;
  }
  30% {
    bottom: 100%;
    left: 70%;
  }
  40% {
    opacity: 1;
    bottom: 150%;
    left: 90%;
  }
  48% {
    opacity: 0;
    bottom: 200%;
    left: 95%;
  }
  100% {
    opacity: 0;
    bottom: 200%;
    left: 100%;
  }
}

@keyframes floating-heart {
  0% {
    opacity: 0;
    bottom: 0%;
    left: 0%;
  }
  10% {
    opacity: 1;
    bottom: 40%;
    left: 30%;
  }
  20% {
    bottom: 70%;
    left: 50%;
  }
  30% {
    bottom: 100%;
    left: 70%;
  }
  40% {
    opacity: 1;
    bottom: 150%;
    left: 90%;
  }
  48% {
    opacity: 0;
    bottom: 200%;
    left: 95%;
  }
  100% {
    opacity: 0;
    bottom: 200%;
    left: 100%;
  }
}

.heart:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.heart:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.heart:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.heart:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.heart:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.heart:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.heart:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.hearts2 .heart2 {
  -webkit-animation: floating-heart2 20s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
          animation: floating-heart2 20s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes floating-heart2 {
  0% {
    opacity: 0;
    bottom: 0%;
    right: 10%;
  }
  10% {
    opacity: 1;
    bottom: 40%;
    right: 30%;
  }
  20% {
    bottom: 70%;
    right: 50%;
  }
  30% {
    bottom: 100%;
    right: 70%;
  }
  40% {
    opacity: 1;
    bottom: 150%;
    right: 90%;
  }
  48% {
    opacity: 0;
    bottom: 200%;
    right: 95%;
  }
  100% {
    opacity: 0;
    bottom: 200%;
    right: 95%;
  }
}

@keyframes floating-heart2 {
  0% {
    opacity: 0;
    bottom: 0%;
    right: 10%;
  }
  10% {
    opacity: 1;
    bottom: 40%;
    right: 30%;
  }
  20% {
    bottom: 70%;
    right: 50%;
  }
  30% {
    bottom: 100%;
    right: 70%;
  }
  40% {
    opacity: 1;
    bottom: 150%;
    right: 90%;
  }
  48% {
    opacity: 0;
    bottom: 200%;
    right: 95%;
  }
  100% {
    opacity: 0;
    bottom: 200%;
    right: 95%;
  }
}

.heart2:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.heart2:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.heart2:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.heart2:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.heart2:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.heart2:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.heart2:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.foot .footer .social-icon {
  color: #860e0e;
  font-size: 1.1rem;
}

.foot .footer .foot-copy {
  color: #860e0e;
  font-size: 0.87rem;
}

.foot .footer hr {
  color: #860e0e;
}

@media all and (min-width: 768px) {
  .header-hero .hero-p {
    font-size: 1rem;
  }
  .header-hero .head-fir .hero-head {
    font-size: 2rem;
  }
  .header-hero .head-fir .date-tag {
    font-size: 1.2rem;
  }
  .header-hero .head-fir .name-tag .name-title {
    font-size: 1.3rem;
  }
  .contact .form {
    width: 60%;
  }
  .work-section .bttn {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .header-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  @-webkit-keyframes floating-heart {
    0% {
      opacity: 0;
      bottom: 0%;
      left: 0%;
    }
    10% {
      opacity: 1;
      bottom: 40%;
      left: 300%;
    }
    20% {
      bottom: 70%;
      left: 350%;
    }
    30% {
      bottom: 100%;
      left: 450%;
    }
    40% {
      opacity: 1;
      bottom: 150%;
      left: 500%;
    }
    48% {
      opacity: 0;
      bottom: 200%;
      left: 600%;
    }
    100% {
      opacity: 0;
      bottom: 200%;
      left: 700%;
    }
  }
  @keyframes floating-heart {
    0% {
      opacity: 0;
      bottom: 0%;
      left: 0%;
    }
    10% {
      opacity: 1;
      bottom: 40%;
      left: 300%;
    }
    20% {
      bottom: 70%;
      left: 350%;
    }
    30% {
      bottom: 100%;
      left: 450%;
    }
    40% {
      opacity: 1;
      bottom: 150%;
      left: 500%;
    }
    48% {
      opacity: 0;
      bottom: 200%;
      left: 600%;
    }
    100% {
      opacity: 0;
      bottom: 200%;
      left: 700%;
    }
  }
  @-webkit-keyframes floating-heart2 {
    0% {
      opacity: 0;
      bottom: 0%;
      right: 10%;
    }
    10% {
      opacity: 1;
      bottom: 40%;
      right: 300%;
    }
    20% {
      bottom: 70%;
      right: 350%;
    }
    30% {
      bottom: 100%;
      right: 450%;
    }
    40% {
      opacity: 1;
      bottom: 150%;
      right: 500%;
    }
    48% {
      opacity: 0;
      bottom: 200%;
      right: 600%;
    }
    100% {
      opacity: 0;
      bottom: 200%;
      right: 700%;
    }
  }
  @keyframes floating-heart2 {
    0% {
      opacity: 0;
      bottom: 0%;
      right: 10%;
    }
    10% {
      opacity: 1;
      bottom: 40%;
      right: 300%;
    }
    20% {
      bottom: 70%;
      right: 350%;
    }
    30% {
      bottom: 100%;
      right: 450%;
    }
    40% {
      opacity: 1;
      bottom: 150%;
      right: 500%;
    }
    48% {
      opacity: 0;
      bottom: 200%;
      right: 600%;
    }
    100% {
      opacity: 0;
      bottom: 200%;
      right: 700%;
    }
  }
}
